@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.nav-bar {
    background: #989898;
    color: #fff;
    position: sticky;
    display: flex;
    align-items: center;
}

.nav-bar__placeholder{
    margin: 0;
    padding: 10px 0 10px 0;
}

.nav-bar__txt {
    font-size: 55px;
    margin: 0 40px;
}

.content {
    margin: 0px 100px;
}

.tab-menu {
    display: flex;
    
    gap: 10px;
}